body{
	background-color:#000000;
}
#efeito{
	width:900px;
	margin:auto;
	text-align:center;
}
#efeito img{
	width:120px;
	height:400px;
	opacity:0.4;
	transition:width 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-web-kit-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	

}
#efeito img:hover{
	width:400px;
	cursor:pointer;
	opacity:1;
}